<div id="dialog-message" title="World Rankings">
  <p>
    <span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0 7px 50px 0;"></span>
    <%= render :partial => "world_rankings_table" %>
  </p>
</div>
