  <h1 id="title"> Konichiwaaa, young Wiff Waffer </h1>
  <h2 id='subtitle'> International Ping Pong Rankings </h2>
<!--
  #img: pong TAble - link to create game

  links along bottom - league, add game, sign-up -->


<img src="">


<div id="pong-court">
  <div id="paddle-1"></div>
  <div id="pong-net"></div>
  <div id="paddle-2"></div>
</div>

<div id="options-wrapper">
  <div class="home_page_options"><%= link_to "World Rankings", "" %></div>
  <div class="home_page_options"><%= link_to "Add a game", "" %></div>
  <div class="home_page_options"><%= link_to "Create new player", "" %></div>
</div>
