  <h4 id='subtitle'> Konichiwaaa, young Wiff Waffer </h4>

<!--CSS Ping pong table -->


<div id="pong-court">
  <div id="paddle-1"></div>
  <div id="pong-net"></div>
  <div id="paddle-2"></div>
  <div id="ball"></div>
</div>



<%= render :partial => "world_rankings_dialog" %>

<!-- <div id="overlay-rankings"></div>

<div id="modal-rankings">
  <div id="ranking-content"> No JS yet!</div>
  <a href='#' id="close"> close </a>
</div>
 -->
