<h1> Konichiwaaa, young Wiff Waffer </h1>
<div id="recent_match_table"> <strong>League Table</strong>
  <% @matches.each do |match| %>
  <p id="recent_match_table_contents">
    <%= match.player.name + ":" + match.opponent.name %>
    <%= match.player.won?(match) ? "--> #{match.player.name} won" : "-->#{match.opponent.name} won" %>
  </p>
  <% end %>
</div>
