

<div id="pong-court">
  <div id="paddle-1"></div>
  <div id="pong-net"></div>
  <div id="paddle-2"></div>
  <div id="ball"></div>
</div>

<div id="new_match"> Add a Match!
<%= form_for(@match) do |f| %>
  <div class="field">
    <%= f.label :player%>
    <%= f.select :player, @players.map{|p| [p.name, p.id]} %><br />
  </div>
  <div class="field">
    <%= f.label :opponent%>
    <%= f.select :opponent, @players.map{|p| [p.name, p.id]} %><br />
  </div>
  <div class="field">
    <%= label_tag :player_wins %><br />
    <%= text_field_tag :player_wins %>
  </div>
  <div class="field">
    <%= label_tag :opponent_wins %><br />
    <%= text_field_tag :opponent_wins %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
