// Place all the styles related to the Players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Play:400,700|Press+Start+2P);
//Two available fonts now: Play and Press Start 2P;

#league_table {
  border: 2px solid #efefef;
  display: inline-block;
  padding:25px;
}

#new_player {
  border: 2px solid black;
  display: inline-block;
  padding: 30px;
}

#new_match {
  border: 2px solid black;
  display: inline-block;
  padding: 30px;
}

* {
  color:white;
  font-family:'Press Start 2P';;
}


html {
  background-color: black;
}

html, body {
  height: 100%;
}

h1#title {
  font-family: 'Press Start 2P';
  font-weight: 400;
  font-size: 3em;
  text-align: center;
}

h4#subtitle {
  font-family: 'Press Start 2P';
  font-weight: 400;
  text-align: center;
}

div.home_page_options {
  text-align: center;
  display: inline;
  width: 100%;
  font-size: 1.2em;
  padding: 15px 40px;
  margin-top: 20px;
  font-family: 'Press Start 2P';
}

div.home_page_options a:link {
  text-decoration: none;
}

div.home_page_options a:hover {
  font-size: 1.5em;
}


div#options-wrapper {
  width: 100%;
  text-align: center;
  padding-top: 25px;
}

div#pong-court {
  width: 70%;
  height: 60%;
  position: relative;
  margin: 0 auto;
  border-top: 15px solid #5dfc0a;
  border-bottom: 15px solid #5dfc0a;
}

div#pong-net {
  text-align: center;
  border-right: 10px dotted #5dfc0a;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  width: 0px;
  z-index: 0;

}

div#paddle-1 {
  width: 20px;
  height: 100px;
  background-color: #5dfc0a;
  position: absolute;
  left: 0;
  top: 68%;
}

div#paddle-2 {
  width: 20px;
  height: 100px;
  background-color: #5dfc0a;
  position: absolute;
  right: 0;
  top: 7%;
}
div#ball {
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  right: 65%;
  bottom: 27%;
}

div#overlay-rankings {
  position:fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.5;
  filter:alpha(opacity=50);
}

div#modal-rankings {
  position: absolute;
  background-color: white;
  background:rgba(0,0,0,0.2);
  border-radius: 14px;
  padding: 12px;
}

div#ranking-content {
  border-radius: 8px;
  background: #fff;
  padding: 20px;
}

div#close {
  position: absolute;
  background-color:blue;
  width: 24px;
  height: 27px;
  display:block;
  text-indent: -9999px;
  top: -7px;
  right:-7px;
}

#dialog-message {
  display: none;
}
