<div id="dialog-message-login-player" class="modal" title="Login">
  <p>
    <div id="login-form">
  <title id="Login">Sign up</title>

  <div>
    <%= render :partial => 'sessions/login_form' %>
  </div>

</div>
  </p>
</div>
