<div id="dialog-message-new-player" class="modal" title="Create a new Player">
  <p>
    <div id="new player form">
  <title id="sign-up-now">Sign up</title>

  <div>
    <%= render :partial => 'players/new_player_form' %>
  </div>

</div>
  </p>
</div>
